img {
    background-color: aqua;
}

select {
    padding: 4px;
    text-align: center;
    width: 6em;
    color: #222222;
    font-size: large;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
}

.cross {
    display: grid;
    /* 上下左右を伸ばす：1fr、中央は auto */
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;

    width: 100%;
    height: 100%;
}
.top-left {
    grid-area: 1 / 1;
    text-align: right;
}
.top {
    grid-area: 1 / 2;
    max-width: 16em;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
}
.left {
    grid-area: 2 / 1;
    max-height: 16em;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
}
.center {
    grid-area: 2 / 2;
    max-width: 16em;
    aspect-ratio: 1 / 1;

    display: flex;

    align-items: center;
    justify-content: center;
}
.center > div {
    width: 90%;
    height: 90%;
}
.center > div > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.right {
    grid-area: 2 / 3;
    max-height: 16em;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
}
.bottom-right {
    grid-area: 3 / 3;
    text-align: right;
}

.top > div,
.bottom > div {
    width: 50%;
}
.top > div > img,
.bottom > div > img {
    width: 100%;
}
.left > div,
.right > div {
    height: 50%;
}
.left > div > img,
.right > div > img {
    height: 100%;
}
.bottom {
    grid-area: 3 / 2;
    max-width: 16em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
}

.left,
.right {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
